body {
  font-family: Helvetica, sans-serif;
  background-color: #c4c4c4;
  margin: 0;
}

.large-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  color: #fff;
  text-decoration: none;
  background-color: #333;
  border: none;
  font-size: 16px;
  position: relative;
  padding: 12px;
}
.header-btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.header-btn:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header-btn:not(:hover)::after {
  transform-origin: right;
}

.big-img {
  min-width: 400px;
  height: auto;
}

.login-container {
  border: 2px solid #979797;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 20px 0px;
  min-height: 298px;

}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}

label {
  margin-top: 10px;
}

.login-input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-top: 3px;
  padding: 10px;
}
.login-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}
.login-input::-webkit-outer-spin-button,
.login-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.failed {
  border-color: #ce0000;
  box-shadow: 0 0 5px #ce0000;
}
.failed:focus {
  border-color: #ce0000;
  box-shadow: 0 0 5px #ce0000;
}

.submit-btn {
  display: block;
  width: 200px;
  height: 40px;
  margin: 30px auto 10px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #0056b3;
}
.submit-btn:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.errorM {
  font-size: 10px;
  margin-bottom: 0px;
  color: #ce0000;
}

.success {
  margin: 0px auto;
  color: #14a51b;
  text-align: center;
}


.center-nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}

.nav-btn {
  display: inline-block;
  margin: 0;
  padding: 10px 14px;
  height: 100%;
  width: 50%;
  min-width: 200px;
  background-color: #777777;
  color: #fff;
  font-size: 16px;
  border: none;
}
.nav-btn:hover {
  border: 3px 3px 0px 3px solid #ff0000;
}

.selected {
  background-color: #f8f8f8;
  color: #000;
}

.main-container {
  display: flex;
  position: relative;
  /* z-index: 1; */
}

.searchbtn {
  height: 40px;
  width: 40px;
}

.icon {
  height: 60px;
}

.srchicn {
  height: 100%;
  background-color: rgb(87, 230, 222);
}

.searchbar {
  display: flex;
  flex-flow: row nowrap;
}

.nav-img {
  height: 30px;
  background-color:rgba(255,255,255,0);
}

.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.1s ease-in-out;
  position: relative;
  padding: 12px;
  cursor: pointer;
}
.nav-option::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}
.nav-option:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.nav-option:hover {
  background-color: #c4c4c4;
}
.nav-option:not(:hover)::after {
  transform-origin: right;
}

.nav-option h3 {
  cursor: default;
}

.nav-container {
  background-color: #f8f8f8;
  height: 100vh;
  width: 274px;
  transition: all 0.3s ease-in-out;
}
.navclose {
  padding-right: 0px;
  width: 60px;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 20px;
  align-items: center;
  margin: 0px 10px;
}
.main {
  width: 100%;
  margin-top: 30px;
}

.box {
  height: 130px;
  width: 230px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
  background-color: rgb(87, 230, 222);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.box:hover {
  transform: scale(1.08);
}

.hidden {
  display: none;
}

.topic {
  font-size: medium;
}

.report-container {
  min-height: 300px;
  max-width: 1200px;
  margin: 70px auto 0px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}

.report-header {
  height: 80px;
  max-width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

/* .recent-Articles {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
} */

.view {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #353535;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.report-body {
  max-width: 1160px;
  overflow-x: auto;
  padding: 20px;
}
.report-topic-heading,
.item1 {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .t-op {
  font-size: 18px;
  letter-spacing: 0px;
} */

.items {
  width: 1120px;
  margin-top: 15px;
}

.label-tag {
  width: 100px;
  text-align: center;
  background-color: rgb(0, 177, 0);
  color: white;
  border-radius: 4px;
}

.current {
  background-color: #7efbff;
}
.current:hover {
  background-color: #67babd;
}

@media screen and (max-width: 850px) {
  .nav-container {
    width: 100%;
  }
  .navclose {
    width: 0px;
  }
}